html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: white;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 220px;
  top: 0px;
  left: 0px;
  width: 260px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  background-color:white;
}

header {
  color:black;
  margin: 20px;
  text-align: center;
  font-size: 2.2em;
  font-weight: thin;
  font-family: 'Dancing Script', cursive;
}

.container {
  display: flex;
  align-items: left;
  justify-content: left;
  padding-top: 2.5%;
  padding-bottom: 1.5%;
}

img {
  max-width: 90%
}

.image {
  flex-basis: 16%;
}

.text p{
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
}

button{
  color: white;
  background-color:#ff6666;
  border-radius: 20%;
  border: none;
}

#result{
  text-align:right;
  font-size: medium;
  color:#0050ac;
  font-weight: 250;
  font-family: 'Open Sans', sans-serif;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color:#5c5c3d;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
  font-size: large;
}

#main-doc {
  position: absolute;
  margin-left: 260px;
  padding: 20px;
  margin-bottom: 110px;
  background-color: white;
  color: black;
}

#main-doc header {
  text-align: left;
  margin: 0px;
  margin-top: 7.5px;
  font-size: 1.4em;
  font-family: 'Poppins', sans-serif;
}

#main-doc p{
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  color: #202324;
}
.accordion {
  background-color: rgb(245, 245, 245);
  color: rgb(18, 18, 20);
  cursor: pointer;
  padding: 12px;
  width: 50%;
  border: none; 
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: 0.4s;
  border-radius: 0%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.active, .accordion:hover {
  background-color: #77cdd3; 
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel a{
  font-size: medium;
  text-decoration: underline;
}

section article {
  color:#003366;
  margin: 15px;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}

.proj-box-format {
  float: left;
  height: 170px;
  width: 30%;
  border: 4px groove rgb(97, 20, 128);
  margin: 10px;
 
}

iframe {
  width: 100%;
  height: 100%;
}

#submit{
  background-color: teal;
  border-radius: 00%;
  font-size:small ;
  font-family: 'Raleway', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 0px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color:#ff8080;
  height: 320px;
  width: 200px;
  color:white;
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color:#ffcc00;
  height: 320px;
  width: 200px;
  color: white;
}
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color:#bb99ff;
  height: 320px;
  width: 200px;
  color: white;
}
.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color:#66cc99;
  height: 320px;
  width: 200px;
  color: white;
}

h3{
  color:#6b6b47;
  text-decoration: underline;
  font-size: 17px;
}
.card1 a, .card2 a, .card3 a, .card4 a{
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

.card1 li{
  color:#ff8080;
}
.card2 li{
  color:#ffcc00 ;
}
.card3 li{
  color:#bb99ff ;
}
.card4 li{
  color:#66cc99 ;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}


@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
}
